@model MvcDemoProject.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row text-white">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userEmail" class="control-label"></label>
                <input asp-for="userEmail" class="form-control" />
                <span asp-validation-for="userEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="role" class="control-label"></label>
                <input asp-for="role" class="form-control" />
                <span asp-validation-for="role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdBy" class="control-label"></label>
                <input asp-for="createdBy" class="form-control" />
                <span asp-validation-for="createdBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modifiedBy" class="control-label"></label>
                <input asp-for="modifiedBy" class="form-control" />
                <span asp-validation-for="modifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdDate" class="control-label"></label>
                <input asp-for="createdDate" class="form-control" />
                <span asp-validation-for="createdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modifiedDate" class="control-label"></label>
                <input asp-for="modifiedDate" class="form-control" />
                <span asp-validation-for="modifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDeleted" /> @Html.DisplayNameFor(model => model.isDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />  |   <a asp-action="GetAllUsers" class="btn btn-success mt-3">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
