<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcDemoProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcDemoProject.styles.css" asp-append-version="true" />

</head>
<body class="bg-secondary text-white">
    <header>
        <div class="container-fluid ">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary text-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (!String.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("userName")) && (Context.Request.HttpContext.Session.GetString("userRole")) == "Admin")
                        {

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                           

                            <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Index"><span class="text-white">ManageProducts</span></a>
                            </li>

                            <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Order" asp-action="Index"><span class="text-white">GetAllOrders</span></a>
                            </li>
                                
                            <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="GetAllUsers"><span class="text-white">GetAllUsers</span></a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="product" asp-action="GetProductsCustomer">Products</a>
                            </li>
                           
                            <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="ViewCart">View Cart</a>
                            </li>
                         <li class="nav-item" style="padding-left:300px">
                                    <a class="navbar-brand" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSos8WJJwI6qi-oyEqumgt5myV32u4aP3FvUA&usqp=CAU" alt="profile logo" class="rounded-pill" style="width:30px;height:30px">Welcome :@Context.Request.HttpContext.Session.GetString("userName")</a>
                              </li>
                           
                            <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Logout">Sign Out</a>
                            </li>
                           
                        }
                        else if(!String.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("userName")) && (Context.Request.HttpContext.Session.GetString("userRole")) == "Customer")
                        {
                            <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="product" asp-action="GetProductsCustomer">MyShop</a>
                            </li>
                                  <li class="nav-item" style="padding-left:400px">
                                    <a class="navbar-brand" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSos8WJJwI6qi-oyEqumgt5myV32u4aP3FvUA&usqp=CAU" alt="profile logo" class="rounded-pill" style="width:30px;height:30px">Welcome :@Context.Request.HttpContext.Session.GetString("userName")</a>
                              </li>
                           @* <li class="nav-item " style="padding-left:350px">
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Welcome :@Context.Request.HttpContext.Session.GetString("userName")</a>
                            </li>*@
                            <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Logout">Log Out</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link navbar-brand text-white" asp-area="" asp-controller="Cart" asp-action="ViewCart"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMiJN8rAUAhXgYYHeLS2Fasmz3PnW8c9PLtQNu8rGsE_5INxnrCjzOOpO_-UnkSUOhFCQ&usqp=CAU" alt="profile logo" class="rounded-pill" style="width:25px;height:25px">View Cart</a>
                            </li>
                             <li class="nav-item justify-content-end">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Order" asp-action="MyOrders">My Orders</a>
                            </li>
                        }
                        @if (String.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("userName")))
                        {
                        <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Create"><span class="text-primar">Sign Up</span></a>
                        </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="product" asp-action="GetProductsCustomer">MyShop</a>
                         </li>
                                        
                   

                        }
                    </ul>
                </div>
            </div>
        </nav>
        </div>
    </header>
    <div class="container-fluid bg-secondary text-white align-content-md-center">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid bg-secondary text-white ">
            <div class="row" style="height:50%">
                <div class="col-md-4 mt-0 text-center">
            <li class="">
                        <a class="" asp-area="" asp-controller="Home" asp-action="AboutUs"><span class="text-white">AboutUs</span></a>
            </li>
                </div>
                <div class="col-md-4 mt-0 text-center">
            <li class="">
                        <a class="" asp-area="" asp-controller="Home" asp-action="ContactUs"><span class="text-white">ContactUs</span></a>
            </li>

                  
                </div>
                <div class="col-md-4 mt-0 text-center">
            <li class="">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"><span class="text-white">Privacy</span></a>
            </li>

              </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
